@use "./utils/mixins" as *;

.default-btn {
  width: 100%;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: var(--btn-bg, var(--c-brand-500));
  color: var(--btn-text, var(--c-base-0));
}

.default-hover {
  transition: var(--trase-default);

  @include hover {
    &:hover {
      opacity: 0.7;
    }
  }
}

.form-field {
  --ui-error: var(--c-add-error-500);
}
.form-field:has([aria-invalid="true"]) label {
  color: var(--c-add-error-500) !important;
}

.label {
  width: max-content;
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--label-bg, var(--c-brand-500--10));
  color: var(--label-text, var(--c-brand-500));
}

.main-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.l {
  &-published {
    border-radius: 0.25rem;
    padding: 0.1875rem 0.375rem;
    background-color: var(--c-add-accent--10);
    color: var(--c-add-accent);
  }
  &-expired-soon {
    border-radius: 0.25rem;
    padding: 0.1875rem 0.375rem;
    background-color: var(--c-add-alert-500--10);
    color: var(--c-add-alert-500);
  }
  &-draft {
    border-radius: 0.25rem;
    padding: 0.1875rem 0.375rem;
    background-color: var(--c-base-1000--7);
    color: var(--c-base-1000--70);
  }
}
