@use "./utils/functions" as *;
@use "./utils/mixins" as *;

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-drag: none;
  font-size: 16px;
  // font-size: vw(16);
  font-family: var(--font);
  color: var(--c-base-1000);
  background-color: var(--c-gray);

  @media screen and (max-width: 1024px) {
    @media screen and (orientation: landscape) {
      overflow: hidden;
      height: 100svh;

      &::before {
        content: "";
        position: fixed;
        inset: 0;
        background-image: url("/images/common/rotate-phone.webp");
        background-size: cover;
        background-position: center;
        z-index: 9999;
      }

      #__nuxt {
        opacity: 0;
      }
    }
  }
}

body {
  position: relative;
  overscroll-behavior: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
a {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
// remove input's autofill colors
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--c-base-1000) !important;
  color: var(--c-base-1000) !important;
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.inner-svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Lenis recommended styles

// html.lenis {
//   height: auto;
// }

// .lenis.lenis-smooth {
//   scroll-behavior: auto;
// }

// .lenis.lenis-smooth [data-lenis-prevent] {
//   overscroll-behavior: contain;
// }

// .lenis.lenis-stopped {
//   overflow: hidden;
// }

// .lenis.lenis-scrolling iframe {
//   pointer-events: none;
// }

//
